* {
      margin: 0; 
      padding: 0; 
      box-sizing: border-box; 
}

body { 
      font: 13px Helvetica, Arial; 
}

form { 
      /*border-top: 2px solid darkgrey;*/
      padding: 3px; 
      position: fixed; 
      bottom: 0;
      width: 100%; 
}
form input { 
      border: 0; 
      border-radius: 30px;
      padding: 10px; 
      width: 75%;
      height: 90%;
      margin-right: .5%; 
      background: lightgrey;
}
form button { 
      color: white;
      border: 0; 
      border-radius: 30px;
      width: 24%; 
      max-width: 200px;
      background: #0388fc; 
      border: none; 
      padding: 10px;
}

#messages { 
      list-style-type: none; 
      margin: 0; 
      padding: 0; 
}
#messages li { 
      padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
      background: #eee; 
}
#messages { 
      margin-bottom: 40px 
}

#users { 
      list-style-type: none; 
      margin: 0; 
      padding: 0; 
}
#users li { 
      padding: 5px 10px; 
}
#users li:nth-child(odd) { 
      background: #eee; 
}
#users { 
      margin-bottom: 40px 
}

/* Resizable Window */
.windows {
      display: flex;
      flex-direction: row;
      width: 100%;
      overflow: hidden;
      height: 100vh;
}

.chatWindow {
      resize: horizontal;
      overflow: auto;
      width: 60%;
      min-width: 25%;
      height: calc(100vh - 40px);
    }
    
.usersWindow {
      flex: 1;
      overflow: auto;
      min-width: 25%;
      height: calc(100vh - 40px);
      border-top: 2px;
      border-color: black;
}

.slider {
      border: 0; 
      border-radius: 5px;
      text-align: center;
      letter-spacing: 10px;
      background-color: darkgray;
      cursor: col-resize;
      user-select: none;
      width: 5px;
      height: calc(100vh - 40px);
}